.uno-logo {
  width: 30vw;
  height: auto
}

.section__logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #000000;
  height: auto;
  align-items: center;
  margin: 0 2rem;
}