.ul__cards{
  display: flex;
}

.li__cards{
  list-style: none;
}

.flip__card {
  background-color: transparent;
  width: 242px;
  height: 362px;
  perspective: 1000px; 
}

.card__frame {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip__card:hover .card__frame {
  transform: rotateY(180deg);
}

.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.card__back {
  transform: rotateY(180deg);
}