.btn__table{
  background-color: rgb(154, 241, 172);
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}
.btn__table:hover{
  background-color: rgb(57, 166, 81);
  color: white;
}